[dir='rtl'] .b-icon--reversible {
  transform: scaleX(-1);
}

.b-back-button {
  margin-right: var(--common-margin);
  margin-left: -6px;
}[dir=rtl] .b-back-button {
  margin-left: var(--common-margin);
  margin-right: -6px;
}

.b-navigation-bar {
  --text-color: var(--font-light-color);
  --dark-text-color: var(--font-dark-color);
  --search-background-color: var(--black-to-white-color);
  --button-image-color: var(--primary-color);
  z-index: 450;
}

#pwajet .b-navigation-bar {
  justify-content: space-between;
  z-index: 1260;
  background: none;
  background: var(--primary-gradient);
}

.b-navigation-bar .b-navigation-bar__toolbar {
  min-height: 56px;
  transition: 0.4s;
  padding: 0;
  background: var(--primary-gradient);
}

.b-navigation-bar__left-side {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
}

.b-back-button {
  margin-inline-end: var(--small-margin);
}

.b-back-button svg {
  margin-left: -3px;
}

[dir=rtl] .b-back-button svg {
  margin-right: -3px;
}

.b-back-button--toggle-search,
.b-back-button {
  color: var(--text-color);
}

.b-back-button--toggle-search, .b-back-button {
  background: transparent;
  border: none;
}

.with-search-autocomplete .b-back-button--toggle-search {
  display: inherit;
}

.b-back-button--toggle-search,
.b-back-button > svg {
  width: var(--big-size);
}

.b-navigation-bar__title {
  color: var(--text-color);
  overflow: hidden;
  max-width: calc(100% - 60px);
  font-size: 1.3rem;
  font-weight: normal;
  margin-inline-end: auto;
  margin-bottom: 0;
  padding: 13px 0;
}

.b-navigation-bar .b-back-button,
.b-navigation-bar .b-back-button:hover,
.b-navigation-bar .b-close-button,
.b-navigation-bar .b-close-button:hover {
  color: var(--text-color);
}

.b-navigation-bar .b-back-button, .b-navigation-bar .b-back-button:hover, .b-navigation-bar .b-close-button, .b-navigation-bar .b-close-button:hover {
  margin-left: -12px;
}

[dir=rtl] .b-navigation-bar .b-back-button, [dir=rtl] .b-navigation-bar .b-back-button:hover, [dir=rtl] .b-navigation-bar .b-close-button, [dir=rtl] .b-navigation-bar .b-close-button:hover {
  margin-right: -12px;
  margin-right: -12px;
}

.b-navigation-bar__search-box {
  color: var(--dark-text-color);
  top: 6px;
  display: flex;
  padding-inline-end: var(--tiny-padding);
  padding-inline-start: var(--common-padding);
  flex-basis: 150%;
  min-height: 26px;
  left: 46px;
  right: 0;
  background: var(--white-color);
  border-radius: var(--border-radius);
}

[dir=rtl] .b-navigation-bar__search-box {
  right: 46px;
  left: 0;
}

.b-navigation-bar__search-box .b-selection-search__search-button {
  width: 40px;
  padding: 0;
}

.b-navigation-bar__search-box .b-selection-search {
  padding: 0;
  border-radius: 0;
  border: none;
}

.b-navigation-bar__toolbar .b-toggle-search-button {
  color: var(--text-color);
  margin-right: 6px;
}

[dir=rtl] .b-navigation-bar__toolbar .b-toggle-search-button {
  margin-left: 6px;
}

.b-back-button--toggle-search,
.b-back-button--search-opened {
  color: var(--dark-text-color);
}


/*# sourceMappingURL=4259.4259.be005a5d07aaeb9fba55.css.map*/