.b-divider {
  opacity: 0.7;
  background-color: var(--black-to-silver-color);
}

.b-key-value-table__table {
  width: 100%;
}

.b-key-value-table__table--justify .b-key-value-table__item-value {
  text-align: right;
}

[dir=rtl] .b-key-value-table__table--justify .b-key-value-table__item-value {
  text-align: left;
}

.b-key-value-table__item-description {
  padding-inline-end: var(--common-padding);
  opacity: 0.5;
  font-weight: 500;
}

.b-key-value-table__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--common-margin);
}

.b-key-value-table__item:last-child {
  margin-bottom: 0;
}

.b-key-value-table__item-description,
.b-key-value-table__item-value {
  line-height: 1.2;
  width: 50%;
  word-break: break-word;
}

.b-key-value-table + .b-key-value-table .b-key-value-table__divider:first-child {
  display: none;
}

.b-totals {
  text-align: left;
  margin-bottom: var(--common-margin);
}[dir=rtl] .b-totals {
  text-align: right;
}

.b-steps-handler__buttons {
  text-align: center;
}

.b-steps-handler__finish,
.b-steps-handler__next {
  width: 100%;
}

.b-steps-handler__finish, .b-steps-handler__next {
  margin-top: var(--common-margin);
}

.b-checkout-shipping {
  --secondary-text-color: var(--black-to-gray-color);
}

.b-checkout-shipping__list {
  margin: 0;
  padding: 0;
}

.b-checkout-shipping__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.b-checkout-shipping__company-name {
  font-size: 1.4rem;
  margin-bottom: var(--common-margin);
}

.b-checkout-shipping__company {
  margin-bottom: var(--big-margin);
}

.b-checkout-shipping__item {
  margin-bottom: var(--common-margin);
}

.b-checkout-shipping__description {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  padding-left: 20px;
}

[dir=rtl] .b-checkout-shipping__description {
  padding-right: 20px;
}

.b-checkout-shipping__delivery-time {
  font-weight: bold;
}

.b-checkout-shipping__price, .b-checkout-shipping__delivery-time {
  text-align: right;
}

[dir=rtl] .b-checkout-shipping__price, [dir=rtl] .b-checkout-shipping__delivery-time {
  text-align: left;
  text-align: left;
}

.b-checkout-payment {
  --secondary-text-color: var(--black-to-gray-color);
}

.b-checkout-payment__list {
  margin: 0;
  padding: 0;
}

.b-checkout-payment__item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.b-checkout-payment__item {
  margin-bottom: var(--common-margin);
}

.b-checkout-payment__description {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
  padding-left: 20px;
}

[dir=rtl] .b-checkout-payment__description {
  padding-right: 20px;
}

.b-order-complete-button {
  width: 100%;
}

.b-order-complete-button__loader {
  height: 38px;
  filter: brightness(1.5);
  display: inline-block;
  margin-top: -30px;
}

.b-checkout__steps--show-all {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 2fr auto;
  grid-template-columns: 1fr 1fr;
}

.b-checkout__step {
  box-shadow: 0 0 0 1px var(--primary-color-light);
  padding: var(--common-padding);
}

.b-checkout__title {
  font-weight: 400;
  margin: -5px -5px var(--common-margin) -5px;
  padding: 5px;
  border-bottom: 2px solid hsl(var(--primary-color-hsl-hue), var(--hsl-saturate), var(--hsl-light));
}


/*# sourceMappingURL=Checkout.4681.643a70f0e5c46ee66b51.css.map*/