.b-label {
  display: flex;
  position: absolute;
  top: -0.3rem;
  height: var(--normal-size);
  font-size: var(--tiny-size);
  z-index: 10;
  justify-content: center;
  color: var(--white-color);
  font-family: var(--font-family-important);
  width: unset;
  min-width: var(--normal-size);
  left: auto;
  right: -0.5rem;
  background: var(--secondary-gradient);
  padding: 0 var(--tiny-padding);
  border-radius: 10px;
}[dir=rtl] .b-label {
  right: auto;
  left: -0.5rem;
}

.b-add-to-cart__text {
  display: block;
}

.b-add-to-cart__text .b-price {
  white-space: nowrap;
}

.b-add-to-cart {
  position: relative;
}

.b-sticky-nav {
  padding-top: 8px;
  padding-bottom: 10px;
}

.b-option-variant {
  --variant-border-color: var(--quaternary-color);
  --active-variant-border-color: var(--primary-color);
  --active-variant-background-color: rgba(var(--quaternary-color-rgb), 0.7);
  --variant-font-size: var(--font-general-size);
}

.b-option-variant {
  min-width: 105px;
  width: calc(50% - var(--big-margin));
  max-width: 140px;
  margin-inline-end: var(--common-margin);
  white-space: nowrap;
  position: relative;
  border: 1px solid var(--black-to-silver-color);
  background: none;
  text-align: center;
  margin-bottom: var(--common-margin);
  padding: var(--tiny-padding);
}

.b-product-options--flat .b-option-variant {
  width: calc(50% - var(--big-margin));
  min-width: 92px;
  padding: 2px 6px;
}

.b-option-variant--readonly {
  opacity: 0.6;
  width: auto;
  margin-inline-end: 5px;
  border: none;
}

.b-option-variant__image {
  max-width: 100%;
  max-height: 220px;
  display: inline-block;
}

.b-option-variant--readonly .b-option-variant__image {
  display: none;
}

.b-option-variant--selected {
  border: 1px solid var(--active-variant-border-color);
  background-color: var(--active-variant-background-color);
}

/* .b-option-variant--selected::after {
  content: '✓';
  position: absolute;
  right: 6px;
  bottom: 2px;
} */

.b-option-variant--readonly.b-option-variant--selected {
  border: none;
}

.b-option-variant__title {
  font-size: var(--variant-font-size);
  color: var(--black-to-gray-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-option-variant__title--little-font-size {
  font-size: var(--small-size);
}

.b-option-variant--selected .b-option-variant__title {
  color: var(--black-color);
}

.b-product-options--flat .b-option-variant__title {
  font-size: var(--flat-variant-font-size);
}

.b-option-variant--readonly .b-option-variant__title {
  font-size: var(--readonly-variant-font-size);
}

.b-option-variant--readonly.b-option-variant--selected {
  display: block;
  opacity: 1;
}

.b-option-variant__title-name {
  margin-inline-end: var(--tiny-margin);
}

.b-option-variant__price {
  color: var(--secondary-color);
  font-family: var(--font-family-important);
  font-weight: bold;
  font-size: var(--tiny-size);
  position: absolute;
  top: -8px;
  height: 8px;
  left: 8px;
  padding-right: 4px;
  padding-left: 4px;
  background-color: #fff;
}

[dir=rtl] .b-option-variant__price {
  right: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

.b-option-variant__price:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 0;
  left: 0;
}

[dir=rtl] .b-option-variant__price:after {
  right: 0;
}

@media (max-width: 1200px) {
  .b-product-list-cart-item__options .b-option-variant__price {
    font-size: var(--micro-size);
    top: -6px;
    left: 4px;
  }
  [dir=rtl] .b-product-list-cart-item__options .b-option-variant__price {
    right: 4px;
  }
}

.b-option-select {
  margin-inline-end: calc((var(--average-margin) - 1px) * -1);
}

.b-option-text__input {
  max-width: 320px;
}

.b-option-section {
  --variant-font-size:          1.2rem;
  --readonly-variant-font-size: 0.7rem;
  --flat-variant-font-size: 0.8rem;
}

.b-option-section {
  margin-bottom: var(--common-margin);
}

.b-option-section--readonly {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.b-option-section__title {
  font-size: var(--font-general-size);
  font-family: var(--font-family-regular);
  font-weight: normal;
  margin-bottom: var(--medium-margin);
}

.b-product-options--flat .b-option-section__title {
  font-size: var(--flat-variant-font-size);
}

.b-option-section--readonly .b-option-section__title {
  font-size: var(--readonly-variant-font-size);
  line-height: inherit;
  margin-right: var(--common-margin);
  margin-bottom: 0;
}

[dir=rtl] .b-option-section--readonly .b-option-section__title {
  margin-left: var(--common-margin);
}

.b-option-section--readonly .b-option-section__title::after {
  content: ':';
}

.b-cart-error {
  --error-background-color: hsl(var(--warning-color-hsl-hue), var(--hsl-saturate), var(--hsl-more-light));
  --error-border-color: hsl(var(--warning-color-hsl-hue), var(--hsl-saturate), var(--hsl-less-light));
  --error-text-color: hsl(var(--warning-color-hsl-hue), var(--hsl-saturate), var(--hsl-darkest-light));
}

.b-cart-error {
  position: absolute;
  z-index: 10;
  line-height: 1.2;
  bottom: 0;
  color: var(--error-text-color);
  left: 0;
  right: 0;
  text-align: left;
  padding: 10px;
  background: var(--error-background-color);
  border: 1px solid var(--error-border-color);
  border-radius: 4px;
}

[dir=rtl] .b-cart-error {
  right: 0;
  left: 0;
  text-align: right;
}

.b-cart-error--horizontal {
  left: auto;
  right: 4px;
  margin-left: 4px;
}

[dir=rtl] .b-cart-error--horizontal {
  right: auto;
  left: 4px;
  margin-right: 4px;
}

.b-cart-error__message {
  margin-bottom: var(--common-margin);
}

.b-cart-error__buttons {
  text-align: center;
}

.b-cart-error__close {
  color: var(--error-text-color);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--error-text-color);
  border: none;
  background: transparent;
}

.b-quantity-selector {
  --input-border-color: hsl(var(--primary-color-hsl-hue), var(--hsl-saturate), var(--hsl-more-light));
}

.b-quantity-selector {
  display: inline-block;
  display: flex;
  flex-basis: 85%;
  align-items: stretch;
  margin-inline-end: var(--common-margin);
}

.b-quantity-selector__quantity {
  width: 50px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 2px 6px;
  padding-top: var(--tiny-padding);
  text-align: center;
}

.b-quantity-selector__quantity,
.b-quantity-selector__quantity::-webkit-inner-spin-button,
.b-quantity-selector__quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.b-quantity-selector__up,
.b-quantity-selector__down {
  font-size: 1.4rem
}

.b-quantity-selector__up, .b-quantity-selector__down {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0 var(--common-margin)
}

@media (min-width: 425px) {
  .b-quantity-selector {
    justify-content: flex-end;
  }
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
  .b-quantity-selector__quantity {
    padding-top: 3px;
  }
}

.b-rating {
  font-size: 1rem;
  vertical-align: middle;
}

.b-rating .dv-star-rating {
  vertical-align: middle;
  margin-inline-end: var(--common-margin);
}

.b-rating .dv-star-rating-star {
  line-height: 1;
  margin-bottom: 0;
}

.b-rating__rating-label {
  margin-right: var(--common-margin);
}

[dir=rtl] .b-rating__rating-label {
  margin-left: var(--common-margin);
}

.b-rating--big {
  font-size: 2rem;
}

.b-rating__total-reviews {
  font-size: 1rem;
  display: inline-block;
}

.b-rating--big .b-rating__rating-label {
  font-size: 1.6rem;
}

.b-rating--big .b-rating__total-reviews {
  font-size: 1.6rem;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
}

.slick-slider .slick-track, .slick-slider .slick-list
{
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;

    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

[dir=rtl] .slick-track
{
    right: 0;
    margin-right: auto;
    margin-left: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;

    height: 100%;
    min-height: 1px;
    float: left;
}

[dir=rtl] .slick-slide
{
    float: right;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
[dir=rtl] [dir='rtl'] .slick-slide
{
    float: left;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);

    color: transparent;
    outline: none;
}
.slick-prev, .slick-next
{
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;
    border: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus
{
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  opacity: .75;
  color: white;
}

.slick-prev
{
  left: -25px;
  right: auto;
}

[dir=rtl] .slick-prev
{
  right: -25px;
  left: auto;
}

.slick-next
{
  right: -25px;
  left: auto;
}

[dir=rtl] .slick-next
{
  left: -25px;
  right: auto;
}

/* Dots */
.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;

  list-style: none;

  padding: 0/*rtl:0*/;
  margin: 0;

  text-align: center;
}

[dir=rtl] .slick-dots
{
  padding: 0;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;

  color: transparent;
  outline: none;
  padding: 5px;

  cursor: pointer;
  border: 0;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;

  width: 8px;
  height: 8px;

  content: '';

  opacity: .25;

  left: 0;
  text-align: center;
  background: var(--primary-color);
  border-radius: 50%;
}
[dir=rtl] .slick-dots li button:before
{
  right: 0;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
}

/* Set slider's dots and arrows visibility */
.slick-arrow.slick-prev {
  left: var(--common-padding);
  right: auto;
  padding-right: 3px;
}
[dir=rtl] .slick-arrow.slick-prev {
  right: var(--common-padding);
  left: auto;
  padding-left: 3px;
}

.slick-arrow.slick-next {
  right: var(--common-padding);
  left: auto;
  padding-left: 3px;
}

[dir=rtl] .slick-arrow.slick-next {
  left: var(--common-padding);
  right: auto;
  padding-right: 3px;
}

.slick-slider .slick-arrow.slick-prev,
.slick-slider .slick-arrow.slick-next {
  opacity: 0;
  height: 40px;
  width: 40px;
  transition: 0.4s;
}

.slick-slider .slick-arrow.slick-prev, .slick-slider .slick-arrow.slick-next {
  border-radius: 50%;
  background: var(--white-to-silver-color);
}

.slick-slider:hover .slick-arrow.slick-prev,
.slick-slider:hover .slick-arrow.slick-next {
  opacity: 1;
}

.slick-arrow.slick-prev:hover, .slick-arrow.slick-next:hover {
  background: var(--white-to-gray-color);
}

.slick-arrow > svg {
  color: var(--link-color);
}

@media (min-width: 768px) {
  .slick-arrow {
    z-index: 1;
  }

  .slick-prev.slick-arrow::before,
  .slick-next.slick-arrow::before {
    content: none;
  }
}

.b-carousel__thumbnails .slick-arrow.slick-prev, .b-carousel__thumbnails .slick-arrow.slick-next {
  background: var(--black-to-gray-color);
}

.b-carousel__thumbnails .slick-arrow.slick-prev:hover, .b-carousel__thumbnails .slick-arrow.slick-next:hover {
  background: var(--black-to-silver-color);
}

.b-carousel__thumbnails .slick-arrow > svg {
  color: var(--white-color);
}

.b-parents {
  padding: 0/*rtl:0*/;
  margin: 0;
  margin-bottom: var(--big-margin);
}[dir=rtl] .b-parents {
  padding: 0;
}

.b-parents__item {
  list-style-type: none;
  margin-inline-end: var(--medium-margin);
  display: inline-flex;
  background-color: var(--black-to-white-color);
  border-radius: var(--border-radius);
  margin-bottom: var(--common-margin);
}

.b-parents__item-link {
  color: var(--link-color);
  font-size: var(--small-size);
  padding: var(--small-padding) var(--average-padding);
}

.b-variation-variant {
  --variant-border-color: var(--quaternary-color);
  --active-variant-border-color: var(--primary-color);
  --active-variant-background-color: rgba(var(--quaternary-color-rgb), 0.7);
  --variant-font-size: var(--font-general-size);
}

.b-variation-variant {
  min-width: 105px;
  width: calc(50% - var(--big-margin));
  max-width: 140px;
  margin-inline-end: var(--common-margin);
  white-space: nowrap;
  position: relative;
  display: inline-block;
  border: 1px solid var(--black-to-silver-color);
  background: none;
  text-align: center;
  margin-bottom: var(--common-margin);
  padding: var(--tiny-padding);
}

.b-product-variations--flat .b-variation-variant {
  width: calc(50% - var(--big-margin));
  min-width: 92px;
  padding: 2px 6px;
}

.b-variation-variant--readonly {
  opacity: 0.6;
  width: auto;
  margin-right: 5px;
  border: none;
}

[dir=rtl] .b-variation-variant--readonly {
  margin-left: 5px;
}

.b-variation-variant__image {
  max-width: 100%;
  max-height: 220px;
  display: inline-block;
}

.b-variation-variant--readonly .b-variation-variant__image {
  display: none;
}

.b-variation-variant--selected {
  border: 1px solid var(--active-variant-border-color);
  background-color: var(--active-variant-background-color);
}

.b-variation-variant--readonly.b-variation-variant--selected {
  border: none;
}

.b-variation-variant__title {
  font-size: var(--variant-font-size);
  color: var(--black-to-gray-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-variation-variant__title--little-font-size {
  font-size: var(--small-size);
}

.b-variation-variant--selected .b-variation-variant__title {
  color: var(--black-color);
}

.b-product-variations--flat .b-variation-variant__title {
  font-size: var(--flat-variant-font-size);
}

.b-variation-variant--readonly .b-variation-variant__title {
  font-size: var(--readonly-variant-font-size);
}

.b-variation-variant--readonly.b-variation-variant--selected {
  display: block;
  opacity: 1;
}

.b-variation-variant__title-name {
  margin-right: var(--tiny-margin);
}

[dir=rtl] .b-variation-variant__title-name {
  margin-left: var(--tiny-margin);
}

.b-variation-variant__price {
  color: var(--secondary-color);
  font-family: var(--font-family-important);
  font-weight: bold;
  font-size: var(--tiny-size);
  position: absolute;
  top: -8px;
  height: 8px;
  left: 8px;
  padding-right: 4px;
  padding-left: 4px;
  background-color: var(--background-color);
}

[dir=rtl] .b-variation-variant__price {
  right: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

.b-variation-variant__price:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 0;
  left: 0;
}

[dir=rtl] .b-variation-variant__price:after {
  right: 0;
}

@media (max-width: 1200px) {
  .b-product-list-cart-item__Variations .b-variation-variant__price {
    font-size: var(--micro-size);
    top: -6px;
    left: 4px;
  }
  [dir=rtl] .b-product-list-cart-item__Variations .b-variation-variant__price {
    right: 4px;
  }
}

.b-variation-select {
  margin-inline-end: calc((var(--common-margin) - 1px) * -1);
}

.b-variation-section {
  --variant-font-size:          1.2rem;
  --readonly-variant-font-size: 0.7rem;
  --flat-variant-font-size: 0.8rem;
}

.b-variation-section {
  margin-bottom: var(--common-margin);
}

.b-variation-section--readonly {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.b-variation-section__title {
  font-size: var(--font-general-size);
  font-family: var(--font-family-regular);
  font-weight: normal;
  margin-bottom: var(--medium-margin);
}

.b-product-variations--flat .b-variation-section__title {
  font-size: var(--flat-variant-font-size);
}

.b-variation-section--readonly .b-variation-section__title {
  font-size: var(--readonly-variant-font-size);
  line-height: inherit;
  margin-right: var(--common-margin);
  margin-bottom: 0;
}

[dir=rtl] .b-variation-section--readonly .b-variation-section__title {
  margin-left: var(--common-margin);
}

.b-variation-section--readonly .b-variation-section__title::after {
  content: ':';
}

.b-product-single {
  --buy-block-border-color: var(--border-color);
  --add-to-cart-background-color: var(--danger);
  --add-to-wishlist-color: var(--primary-color);
  --add-to-wishlist-active-color: var(--primary-color);
  --thumb-border-active-color: var(--primary-color);
}

.b-product-single__body {
  position: inherit;
}

.b-product-single__image-wrapper {
  overflow: hidden;
  text-align: right;
}

[dir=rtl] .b-product-single__image-wrapper {
  text-align: left;
}

.b-product-single__buy-block {
  display: flex;
  margin-bottom: var(--common-margin);
}

.b-product-single__buy-block--sticky {
  z-index: 300;
  width: 100%;
  padding: var(--tiny-padding) 0;
  margin-bottom: 0;
  border-top: 1px solid var(--buy-block-border-color);
}

.with-main-menu .b-product-single__buy-block {
  bottom: calc(50px + env(safe-area-inset-bottom));
}

body.with-buy-block {
  padding-bottom: 46px;
}

body.with-buy-block.with-main-menu {
  padding-bottom: 90px;
}

.b-product-single__prices {
  margin-bottom: var(--small-margin);
}

.b-product-single__price {
  margin-inline-end: var(--common-margin);
  font-size: var(--huge-size);
  color: var(--secondary-color);
  font-family: var(--font-family-important);
  font-weight: bold;
}

.b-product-single__price--discount {
  font-size: 1rem;
}

.b-product-single__title {
  font-size: var(--normal-size);
  font-weight: bold;
  margin-bottom: var(--huge-margin);
}

.b-product-single__buttons {
  text-align: right;
}

[dir=rtl] .b-product-single__buttons {
  text-align: left;
}

.b-product-single .b-cart-error {
  bottom: 60px;
}

.b-product-single__add-to-cart-button,
.b-product-single__add-to-cart-button:hover,
.b-product-single__add-to-cart-button:focus,
.b-product-single__add-to-cart-button:active {
  width: 172px;
  position: relative;
}

.b-product-single__add-to-cart-button > svg {
  width: 24px;
}

.b-product-single__add-to-cart-button .b-label {
  top: -4px;
  left: auto;
  right: -6px;
  background: var(--primary-color);
}

[dir=rtl] .b-product-single__add-to-cart-button .b-label {
  right: auto;
  left: -6px;
}

.b-product-single__add-to-wishlist-button,
.b-product-single__add-to-wishlist-button:hover,
.b-product-single__add-to-wishlist-button:focus,
.b-product-single__add-to-wishlist-button:active {
  width: 26px;
  height: 26px;
  text-decoration: underline;
  color: var(--add-to-wishlist-color);
}

.b-product-single__add-to-wishlist-button, .b-product-single__add-to-wishlist-button:hover, .b-product-single__add-to-wishlist-button:focus, .b-product-single__add-to-wishlist-button:active {
  border-radius: 50%;
  text-align: center;
  border: none;
  padding: 0;
  margin-bottom: var(--tiny-margin);
}

.b-product-single__add-to-wishlist-button.b-add-to-wishlist--active,
.b-product-single__add-to-wishlist-button.b-add-to-wishlist--active:hover,
.b-product-single__add-to-wishlist-button.b-add-to-wishlist--active:focus,
.b-product-single__add-to-wishlist-button.b-add-to-wishlist--active:active {
  color: var(--add-to-wishlist-active-color);
}

.b-product-single__add-to-wishlist-button > svg {
  width: 14px;
}

.b-product-single__add-to-wishlist-button.b-add-to-wishlist--active > svg {
  fill: var(--primary-color);
}

.b-product-single__main-slider {
  margin-bottom: var(--common-margin);
}

.b-product-single__vendor-link {
  display: inline-block;
  font-size: var(--little-size);
  margin-bottom: var(--common-margin);
}

.b-product-single__vendor-link > svg {
  width: var(--tiny-size);
  margin-top: -2px;
}

.b-product-single__shopping-bag-icon {
  margin-right: 3px;
}

[dir=rtl] .b-product-single__shopping-bag-icon {
  margin-left: 3px;
}

.b-product-single__no-image {
  text-align: center;
}

@media (max-width: 767px) {
  .b-product-single__vendor-link {
    color: var(--link-color-highlighted);
  }
}

@media (max-width: 320px) {
  .b-product-single__add-to-cart-button {
    min-width: 167px;
  }
}

.b-api-error__title {
  color: var(--white-color);
  font-size: 10rem;
  text-align: center;
}

.b-api-error__content {
  text-align: center;
}

.b-api-error__footer {
  text-align: center;
}

.b-not-found__title {
  color: var(--white-color);
  text-align: center;
}

.b-not-found__content {
  text-align: center;
  margin-bottom: var(--common-margin);
}

.b-offline-handler__message {
  text-align: center;
}

.b-offline-handler h1 {
  font-size: 6rem;
}

.b-testimonial__info {
  display: flex;
}

.b-testimonial__date {
  opacity: 0.6;
}

.b-testimonial__info .b-rating{
  margin-right: var(--common-margin);
}

[dir=rtl] .b-testimonial__info .b-rating{
  margin-left: var(--common-margin);
}

.b-testimonial__author {
  font-weight: 500;
}

.b-divider {
  opacity: 0.7;
  background-color: var(--black-to-silver-color);
}

.b-testimonial-form {
  background: hsl(
    var(--quaternary-color-hsl-hue),
    20%,
    var(--hsl-highest-light)
  );
  border-radius: 3px;
  padding: var(--common-padding);
  margin-bottom: var(--big-margin);
}

.b-testimonial-form .b-rating {
  line-height: 1;
}

.b-testimonial-form__draft-notification {
  font-style: italic;
  opacity: 0.6;
}

.b-testimonial-form__footer {
  display: flex;
  justify-content: space-between;
}

.b-load-more {
  text-align: center;
  margin-bottom: var(--common-margin);
}

.b-tab-panel {
  font-size: var(--font-general-size);
  margin-bottom: var(--big-margin);
}

.b-tabs {
  --active-color: hsl(
    var(--primary-color-hsl-hue),
    var(--hsl-saturate),
    var(--hsl-light)
  );
}

.b-tabs {
  margin-bottom: var(--common-margin);
}

.b-tabs .b-tabs__indicator {
  background-color: var(--active-color);
}

.b-tab.b-tab--color.b-tab.b-tab--selected {
  color: var(--active-color);
}

.b-key-value-table__table {
  width: 100%;
}

.b-key-value-table__table--justify .b-key-value-table__item-value {
  text-align: right;
}

[dir=rtl] .b-key-value-table__table--justify .b-key-value-table__item-value {
  text-align: left;
}

.b-key-value-table__item-description {
  padding-inline-end: var(--common-padding);
  opacity: 0.5;
  font-weight: 500;
}

.b-key-value-table__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--common-margin);
}

.b-key-value-table__item:last-child {
  margin-bottom: 0;
}

.b-key-value-table__item-description,
.b-key-value-table__item-value {
  line-height: 1.2;
  width: 50%;
  word-break: break-word;
}

.b-key-value-table + .b-key-value-table .b-key-value-table__divider:first-child {
  display: none;
}

.b-features-table {
  width: 100%;
}

.b-features-table__item-description {
  padding-right: var(--common-padding);
}

[dir=rtl] .b-features-table__item-description {
  padding-left: var(--common-padding);
}

.b-features-table__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--common-margin);
}

.b-features-table__item-description,
.b-features-table__item-value {
  line-height: 1.2;
  font-weight: normal;
  width: 50%;
}

#pwajet .b-breadcrumbs {
  margin-bottom: var(--common-margin);
}

#pwajet .b-breadcrumbs__item {
  font-size: var(--little-size);
  text-transform:  none;
}

#pwajet .b-breadcrumbs__item--dropdown {
  line-height: inherit;
  padding: 0;
}

#pwajet .b-breadcrumbs__item--dropdown:hover {
  background: none;
}

#pwajet .b-breadcrumbs__menu-item {
  min-height: auto;
  padding: 0;
}

#pwajet .b-breadcrumbs__menu-item .b-breadcrumbs__item--link {
  vertical-align: middle;
  padding: 6px 16px;
}

.b-product-screen__decription img {
  max-width: 100%;
}

.b-product-screen__decription p {
  font-size: var(--font-regular-size);
}


/*# sourceMappingURL=Product.6275.19be83658ca897ab0041.css.map*/