.b-profile-menu {
  --menu-item-color: var(--link-color);
}

.b-profile-menu__item-link {
  font-size: var(--normal-size);
  width: 100%;
  padding: 0 var(--common-padding);
}

/* button mui fix */
button.b-profile-menu__item-link {
  width: 100%;
  margin-right: 0;
}
[dir=rtl] button.b-profile-menu__item-link {
  margin-left: 0;
}

.b-profile-menu__item-icon {
  margin-inline-end: var(--common-margin);
  color: var(--primary-color);
}

.b-profile-menu__greeting {
  padding: 0 var(--common-padding);
}

.b-profile-menu__item-link .b-label {
  position: static;
  margin-inline-start: var(--common-margin);
}


.b-profile-menu__item-link:focus {
  color: var(--font-color);
}

.b-profile-menu__item-link:hover {
  color: var(--link-color-highlighted);
}

@media (max-width: 1024px) {
  .b-profile-menu__item-link:hover {
    color: var(--font-color);
  }
}

.b-label {
  display: flex;
  position: absolute;
  top: -0.3rem;
  height: var(--normal-size);
  font-size: var(--tiny-size);
  z-index: 10;
  justify-content: center;
  color: var(--white-color);
  font-family: var(--font-family-important);
  width: unset;
  min-width: var(--normal-size);
  left: auto;
  right: -0.5rem;
  background: var(--secondary-gradient);
  padding: 0 var(--tiny-padding);
  border-radius: 10px;
}[dir=rtl] .b-label {
  right: auto;
  left: -0.5rem;
}

.b-user-info {
  color: var(--white-color);
  display: inline-block;
  width: 100%;
  padding: var(--common-padding);
  border: none;
  background: transparent;
  background: var(--primary-gradient);
  border-radius: var(--border-radius);
}

.b-user-info:hover,
.b-user-info:focus {
  color: var(--white-color);
}

.b-user-info.b-user-info--horizontal {
  display: flex;
  align-items: center;
  height: 120px;
  margin: -15px -15px 0 -15px;
  margin: 0;
  background: var(--primary-gradient);
  border-radius: 0;
}

.b-user-info__head {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin-left: auto/*rtl:ignore*/;
  margin-right: auto/*rtl:ignore*/;
  margin-bottom: var(--common-margin);
}

.b-user-info__name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--normal-size);
  font-weight: bold;
  font-family: var(--font-family-important);
  text-align: center;
}

.b-user-info__email {
  font-size: var(--little-size);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--font-family-regular);
  text-align: center;
}

.b-user-info--horizontal .b-user-info__body {
  max-width: 190px;
}

.b-user-info--horizontal .b-user-info__head {
  width: 74px;
  margin: 0/*rtl:ignore*/;
  margin-inline-end: var(--common-margin);
}

.b-user-info .b-user-avatar__acronym {
  font-size: 36px;
  color: var(--white-to-silver-color);
}

.b-user-info--horizontal .b-login-button,
.b-user-info--horizontal .b-logout-button {
  position: absolute;
}

.b-user-info--horizontal .b-login-button, .b-user-info--horizontal .b-logout-button {
  right: 6px;
  transform: scale(0.7);
  text-align: center;
}

[dir=rtl] .b-user-info--horizontal .b-login-button, [dir=rtl] .b-user-info--horizontal .b-logout-button {
  left: 6px;
  left: 6px;
}

.b-user-info--horizontal .b-user-info__name, .b-user-info--horizontal .b-user-info__email {
  text-align: left;
}

[dir=rtl] .b-user-info--horizontal .b-user-info__name, [dir=rtl] .b-user-info--horizontal .b-user-info__email {
  text-align: right;
  text-align: right;
}

@media (max-width: 767px) {
  .b-user-info {
    margin-bottom: var(--big-margin)
  }
}

.b-user-avatar {
  min-width: 32px;
  width: 100%;
  height: 100%;
  color: var(--white-to-silver-color);
  padding: 0;
  margin: 0;
}

.b-user-avatar__placeholder::after {
  content: '';
  display: block;
  padding-bottom: 100%;
  margin-bottom: -5px;
}

.b-user-avatar__placeholder {
  position: relative;
  width: 100%;
  border-radius: 50%;
}

.b-user-avatar__acronym {
  position: absolute;
  top: 50%;
  left: 50%/*rtl:ignore*/;
  transform: translate(-50%, -50%)/*rtl:ignore*/;
  font-size: var(--normal-size);
}

.b-profile-form {
  margin-bottom: var(--average-margin);
}


/*# sourceMappingURL=Profile.5097.75c687f34d131a18c7e8.css.map*/